name: Tests

on:
  push:
    branches:
    - main
  pull_request:

defaults:
  run:
    shell: bash

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Setup Kubeval
      uses: ./
      with:
        version: '0.16.1'
    - name: Capture kubeval version installed
      run: kubeval --help